/* Typeface from https://rsms.me/inter/ */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

  /* Color variables */
  --light-gray: #a6a6a7;
  --dark-gray: #303030;
  --orange: #ffa003;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px dotted red;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 15vh;

  /* align-items: center;
  height: 100vh; */
}

.calculator {
  width: 400px;
  height: 700px;
  display: grid;
  align-content: end;
  color: white;
  background-color: black;
}

.display {
  display: flex;
  justify-content: end;
  font-size: 4rem;
  padding-right: 10px;
}

.btn-container {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

button {
  border: none;
  border-radius: 50px;
  color: white;
  background-color: black;
  font-size: 2.5rem;
  font-family: inherit;
}

.modifier {
  color: black;
  background-color: var(--light-gray);
}

.operator, .equals {
  background-color: var(--orange);
}

.number {
  background-color: var(--dark-gray);
}

.zero {
  grid-column: 1 / 3;

  display: flex;
  align-items: center;
  padding-left: 35px;
}

.active {
  border-style: solid;
  border-color: black;
}